body {
	color: $fontColor;
	font: 400 16px/1.75 Source Sans Pro, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0.3em;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.1;
}

h2 {
	font-size: 2.25em;
	line-height: 1.3;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em
}

h6 {
	font-size: 1em;
}

input, select, textarea {
	border-radius: 0;
	margin-bottom: 0.3em;
}

input[type="text"], select {
	height: 40px;
	line-height: 1.5;
	padding: 0.5em 1em;

	@include box-sizing(border-box);
}

label {
	font-size: 0.88em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 1.5em 0.5em 0;
}

ol, ul {
	padding-left: 20px;

	li {
		line-height: 1.6;
	}
}

select {
	background: url(../images/custom/form_dropdowns.svg) no-repeat right -42px;
	cursor: pointer;
	padding-right: 2em;

	@include appearance(none);
}

.longform {
	p {
		font: 300 1.25em/2 Source Serif Pro, Arial, Helvetica, sans-serif;
	}
}

#wrapper .portlet-title-text {
	display: none;
}