#banner {
	background: rgba(255, 255, 255, 0);
	height: 64px;
	left: 0;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;

	@include transition(background 0.5s, transform 0.5s);

	a {
		color: $fontColor;
	}

	.logo.custom-logo {
		margin-right: auto;
		padding-top: 16px;

		img {
			height: 32px;
		}
	}

	.navbar-header {
		left: 0;
		padding: 0 32px;
		position: absolute;
		right: 0;

		@include display(flex);
		@include justify-content(space-between);
		@include transition(right 0.5s)
	}

	.navbar-collapse {
		padding: 0 32px;

		ul {
			font-size: 12px;
			list-style: none;
			margin: 0;
			padding: 22px 0 22px 22px;

			li {
				display: inline-block;
				margin: 0;
				padding: 0 32px 0 0;

				a {
					padding: 0;
				}

				&.open a, a:hover {
					background: none;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			background: #FFF;
			box-sizing: border-box;
			padding: 1em;
			position: absolute;
			right: 0;
			top: 3em;

			li {
				display: block;
			}
		}
	}

	.navbar {
		border: none;
		margin-bottom: 0;
		min-height: 0;

		.lfr-nav-item .delete-tab {
			display: none;
		}
	}

	.portlet {
		margin-bottom: 0;
	}

	.user-personal-bar {
		span.sign-in {
			display: block;
			font-size: 12px;
			padding: 21px 0;
		}

		.user-icon {
			height: 40px;
			line-height: 40px;
			margin: 12px 0 0;
			width: 40px;
		}
	}

	&.banner-fill {
		background: rgba(255, 255, 255, 1);
		border-bottom: 1px solid #C6CFD9;

		a {
			color: $fontColor;
		}
	}
}

.control-menu {
	bottom: 0;
	left: auto !important;
	top: auto !important;

	&.control-menu-level-1 > .container-fluid-1280 {
		padding: 0 !important;
	}
}

.hide-banner-nav #banner {
	@include transform(translateY(-100%));
}

.nav-light {
	#banner:not(.banner-fill) {
		.navbar-toggle {
			border-color: #FFF;

			.icon-bar {
				background-color: #FFF;
			}
		}

		@include sm {
			a {
				color: #FFF;
			}
		}
	}
}

.open-admin-panel #banner .navbar-header {
	right: 320px;
}

.sign-in .icon-user, .user-full-name {
	display: none;
}