/* ---------- Pages ---------- */

/* ---------- Configuration ---------- */

.documentation-project-index .configuration {
	 padding: 20px;
}

/* ---------- View ---------- */

.documentation-project-index .view {
	margin-top: -64px;

	.content-header {
		background-color: #F7F9FA;
	}

	.content-container, .content-title, .tag-container {
		margin: 0 auto;
		width: 1200px;
	}

	.content-title {
		font-size: 48px;
		font-weight: 300;
		letter-spacing: 3px;
		line-height: 1.1;
		padding-top: 150px;
	 	padding-bottom: 125px;
	}

	.predefined-fitler-tags {
		li {
			display: inline-block;
			margin-bottom: 6px;
			margin-right: 64px;

			&.selected{
				border-bottom: 6px solid #DFE1E1;
				margin-bottom: 0;

				a {
					color: #52585F;
				}
			}

			a {
				color: #C5C7CB;
				text-transform: uppercase;
			}
		}

		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
	}

	.documentation-project {
		list-style-type: none;
		margin-right: -40px;
		padding: 0;

		.documentation-project-tags {
			bottom: 0;
			color: #8693A1;
			font-size: 14px;
			font-stretch: normal;
			font-style: normal;
			font-weight: 600;
			height: 36px;
			position: absolute;
			text-transform: uppercase;
			width: 216px;
		}

		li {
			border: 1px solid #D2DFE8;
			display: inline-flex;
			margin: 0 40px 40px 0;
			padding: 0;

			a {
				display: block;
				height: 340px;
				padding: 32px;
				position: relative;
				text-decoration: none;
				width: 268px;
			}

			span {
				display: block;
				margin: 27px 0;
			}

			.icon, .icon img {
				height: 64px;
				margin: 0;
				width: 64px;
			}

			.name {
				font-size: 20px;
				letter-spacing: 1px;
			}

			.description {
				font-size: 12px;
				letter-spacing: .4px;
				line-height: 1.3;
			}
		}
	}

	.live-search-filter {
		.filter-input, .count {
			font-size: 16px;
			letter-spacing: 1.6px;
			line-height: 1.5;
			margin: 100px 0;
		}

		.count {
			font-weight: 600;
			text-transform: uppercase;
		}

		.filter-input input {
			margin-left: 1em;
			padding: 0.25em 1em;
		}
	}
}