/* ---------- View ---------- */

.documentation-project-heading .view {
	margin-top: -64px;
	min-height: 360px;

	.project {
		left: 25%;
		position: absolute;
		top: 38%;

		.project-name {
			float: right;
			font-size: 48px;
			font-weight: 300;
			margin-left: 20px;
		}

		.xsmall {
			max-height: 80px;
			max-width: 80px;
		}
	}
}