.hide-accessible {
	clip: rect(0 0 0 0) !important;position: absolute !important;
	-webkit-transform: scale(0);
	-webkit-transform-origin-x: 0;
	-webkit-transform-origin-y: 0;
	*position: fixed !important;
	_position: absolute !important;
}