#footer {
	background: #F7F9FA;
	box-sizing: border-box;
	padding: 4em 2em;

	&, a {
		color: #8693A1;
	}

	a:hover {
		color: #8693A1;
		text-decoration: none;
	}

	.fine-print {
		font-size: 0.9em;

		@include display(flex);
		@include justify-content(space-between);
	}

	.social-nav {
		height: 200px;

		@include display(flex);
		@include justify-content(flex-end);

		li {
			padding: 0 1em;

			&:last-of-type {
				padding-right: 0;
			}
		}

		svg {
			fill: #8693A1;
			height: 20px;
			width: 20px;

			@include transition(all 0.25s ease-in-out);
		}

		.facebook:hover svg {
			fill: #3B5998;
		}

		.github:hover svg {
			fill: #181717;
		}

		.instagram:hover svg {
			fill: #125688;
		}

		.linkedin:hover svg {
			fill: #0077B5;
		}

		.twitter:hover svg {
			fill: #55ACEE;
		}

		.youtube:hover svg {
			fill: #CD201F;
		}

		@include media-query(null, $screen-xs-max) {
			padding-top: 1em;
		}
	}
}