@media only screen and (min-width: 768px) {
	.portlet > .portlet-topper {
		bottom: -33px;
		left: auto;
		top: auto;
	}

	.portlet:hover > .portlet-topper {
		@include transform(translateY(0));
	}
}

.portlet {
	margin: 0;
}

.portlet-decorate .portlet-content {
	background: transparent;
	border: none;
}

.portlet-content, .portlet-content-editable {
	padding: 0;
}