/* ---------- Pages ---------- */

/* ---------- Edit documentation project ---------- */

.documentation-project-admin-portlet .edit-documentation-project {
	.panel-heading {
		background: #DCE0E3;
		border-bottom: 1px solid #DCE0E3;
		border-top: 1px solid #DCE0E3;
		padding: 15px;
	}

	.panel-title {
		color: #29353D;
		font-weight: bold;
	}

	.panel-body {
		padding: 30px;
	}
}