$blue: #1C75B9;
$indent-width: 16px;

.lcs-portlet {
	.all-lcs-services-panel {
		textarea {
			height: 150px;
			width: 400px;
		}

		.control-group {
			margin-bottom: 0;
		}

		.lcs-services-panel {
			margin-left: $indent-width;

			p, .properties-panel {
				margin-bottom: 30px;
				margin-left: $indent-width;
			}

			.properties-message {
				margin-bottom: 10px;
			}
		}

		.portal-properties-security-sensitive {
			text-decoration: underline;
		}
	}

	.btn {
		&:active, &:focus {
			outline: 0;
		}
	}

	.content {
		.alert-connection {
			margin-top: 22px;
		}

		.button-holder {
			margin-bottom: 30px;
		}

		.info-panel {
			margin: 0 auto;
			max-width: 960px;
			padding: 6em 4em;

			p {
				margin: 2em 0;
			}

			.btn {
				border-color: $blue;
				color: $blue;
			}
		}

		.lcs-synchronizing-alert {
			display: inline-block;
			margin: 0 0 30px 0;
			position: relative;
		}

		.list-group-item:hover {
			background-color: #F5F5F5;
		}

		.logo {
			height: 5em;
			margin-right: 30px;
		}

		.title {
			color: $blue;
			font-size: 3em;
			font-weight: lighter;
			vertical-align: middle;
		}
	}

	.footer {
		border-top: 1px solid #E3E6E8;
		padding: 8px 16px;
	}
}